<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of Legends APP</title>
</head>
<body>
  <form action="summoner">
    <label for="summoner-name"> Ingrese nombre de Invocador </label>
    <input type="text" name="summoner-name" value="" required>
    <label for="region">Ingrese Region</label>
    <input type="text" name="region" value="" required>
    <input type="submit" value="Submit">
</form>
</body>
</html>
